@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;
    --text-color: black;
    --background-color: #edede9;
    --box-color: white;
    --dark-hover-color: rgb(255, 89, 18);

    .warning-clr {
        color: red;
    }
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: var(--font-family);
}


*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(202, 199, 199);
    border-radius: 10px;
}

main {
    display: grid;
    grid-template-columns: 16rem auto 20rem;
    background-color: var(--background-color);

}


.left-container {
    display: grid;
    grid-template-rows: 10vh 90vh;

    .left-top {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 5px;
        background-color: var(--box-color);
        border-radius: 10px;

        .logo h4 {
            font-weight: bolder;
            font-size: 25px;
            align-items: center;
            cursor: default;

            span {
                color: var(--dark-hover-color);
            }
        }

        .close{
            display: none;
        }
    }

    .left-middle {

        background-color: var(--box-color);
        border-radius: 10px;
        margin: 5px;

        a {
            display: flex;
            margin: 20px;
            height: 35px;
            padding: 5px;
            justify-content: left;
            align-items: center;
            text-decoration: none;
            color: var(--text-color);
            margin-bottom: 20px;

            h3 {
                margin-left: 20px;
            }
        }

        a:hover {
            cursor: pointer;
            border-left: 5px solid var(--dark-hover-color);

            span{
                color: var(--dark-hover-color);
            }
        }
    }
}

.middle-container {
    /* margin-top: rem; */
    width: auto;

    h1 {
        text-align: center;
        margin: 10px;
        border-radius: 10px;
    }

    .date {
        text-align: center;

        input {
            background-color: var(--box-color);
            color: var(--text-color);
            width: fit-content;
            border: none;
        }
    }

    .insights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        >div {
            background-color: var(--box-color);
            padding: 20px;
            border-radius: 20px;
            margin-top: 5px;
            box-shadow: 20px 20px 29px rgba(0, 0, 0, 0.377);
            transition: all .3s ease;

            span {
                padding: 0.5rem;
                font-size: 2rem;
                border-radius: 30px;
                margin-bottom: 10px;
                color: white;
            }

            .middle {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    font-size: 15px;
                }

                h1 {
                    font-size: 25px;
                }

                .progress {
                    position: relative;
                    height: 68px;
                    width: 68px;
                    border-radius: 50px;

                    svg {
                        height: 78px;
                        width: 78px;
                        margin-top: -10px;
                        position: absolute;
                        top: 0;

                        circle {
                            fill: none;
                            stroke-width: 10px;
                            transform: rotate(270, 80, 80);
                        }



                    }

                    .number {
                        position: absolute;
                        top: 20px;
                        left: 25px;
                        color: var(--text-color);
                    }
                }


            }

            small {
                display: flex;
                justify-content: right;
                margin-top: 20px;
                font-size: 12px;
            }
        }

        .sales:hover {
            box-shadow: none;
        }

        .sales {

            span {
                background-color: coral;
            }

            svg circle {
                stroke: coral;
                stroke-dashoffset: 0;
                stroke-dasharray: 140;
            }
        }

        .expenses {
            span {
                background-color: red;
            }

            svg circle {
                stroke: red;
                stroke-dashoffset: 0;
                stroke-dasharray: 160;
            }
        }

        .income {

            span {
                background-color: green;
            }

            svg circle {
                stroke: green;
                stroke-dashoffset: 0;
                stroke-dasharray: 200;
            }
        }
    }

    .orders {

        h1 {
            margin-top: 10px;
        }

        div {
            overflow-y: scroll;
            max-height: 47vh;
        }

        table {
            width: 100%;
            border-collapse: collapse;

            tr {
                height: 70px;
                text-align: center;
                background-color: var(--box-color);
            }
        }
    }
}

.right-container {
    /* border: 2px solid black; */

    h1 {
        text-align: center;
    }

    img {
        border-radius: 30px;
        width: 50px;
        height: 50px;

    }

    .profile {

        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        background-color: var(--box-color);
        border-radius: 10px;
        padding: 5px;


        button{
            display: none;
        }


        .dark-mode {
            position: relative;

            .checkbox {
                position: absolute;
                width: 35px;
                height: 35px;
                opacity: 0;

            }

            svg {
                width: 35px;
                height: 35px;
                cursor: pointer;
            }

            .sun {
                opacity: 1;
            }

            .sun path {
                stroke: yellow;
            }

            .moon {
                position: absolute;
                right: 0px;
                opacity: 0;
            }
        }

        .name {
            font-size: 14px;
            margin-left: 10px;

        }
    }

    .update {

        .update-card {
            display: grid;
            grid-auto-flow: column;
            gap: 10px;
            align-items: center;
            background-color: var(--box-color);
            margin: 5px;
            border-radius: 10px;
            height: 70px;
            padding: 10px;
        }
    }

    .s-analytics {

        div {
            overflow-y: scroll;
            max-height: 36vh;
        }

        .s-a-card {
            background-color: var(--box-color);
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            margin: 5px;
            border-radius: 10px;

            span {
                font-size: 40px;
                padding: 10px;
                background-color: coral;
                color: white;
                border-radius: 30px;
            }

            .text {

                .duration {
                    font-size: 12px;
                }

                .quantity {
                    font-size: 15px;
                }
            }
        }
    }
}



/* media queries */

@media screen and (max-width: 1200px) {
    main {
        display: flex;
        max-height: 70%;
    }

    .left-container {
        width: 6rem;

        .logo {
            font-size: 12px;
        }

        .close {
            display: none;
        }
    }

    .left-container .left-middle {
        a {
            margin: 10px;
        }

        span {
            font-size: 35px;
        }

        h3 {
            display: none;
        }
    }

    .middle-container {
        width: 50rem;

        .orders div {
            max-height: 39vh;

        }
    }

    .middle-container .insights {
        display: grid;
        /* grid-template-columns: repeat(1, 1fr); */
    }

    .right-container {

        width: 20rem;

        .s-analytics {
            div {
                max-height: 36vh;
            }
        }

        .update {

            .update-card {
                height: 50px;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    main {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .left-container {
        position: fixed;
        width: 18rem;
        z-index: 3;
        display: none;
        background-color: var(--box-color);

        .left-top {
            height: 9vh;
            justify-content: left;
            margin-left: 25px;

            .logo {
                display: inline;
                font-size: 22px;
            }

            .close {
                display: inline;
                position: absolute;
                right: 10px;
                margin-left: 30px;
                font-size: 35px;
            }

        }

        .left-middle {
            h3 {
                display: inline;
            }

            a {
                width: 100%;
                height: 3.4rem;
            }
        }
    }

    .middle-container{

        width: 100%;

        >h1{
            margin-top: 75px;
            text-align: center;
            width: 100%;
        }
        .date{
            width: 100%;

            input{
                text-align: center;
            }
        }

        .insights{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 100%;

            h1{
                margin: 0;
            }

            .middle{
                display: flex;
                justify-content: space-around;
            }
        }

        .orders{
            font-size: 12px;

            h1{
                font-size: 30px;
            }

            div tr{
                height: 30px;
            }

        }

    }

    .right-container{
        width: 100%;

        .profile{
            position: fixed;
            top: 0;
            align-items: center;
            width: 100%;
            z-index: 2;
            box-shadow: 0 20px 20px #0000004d;
            margin: 0;
            border-radius: 0px;

            button{
                display: inline-block;
                background: transparent;
                cursor: pointer;
                color: black;
                /* position: absolute; */
                left: 1rem;
                border: none;
            }

            .dark-mode{
                position: absolute;
                right: 85px;
            }
        }
    }
}